@font-face {
  font-family: Magic School Two;
  src: local('Magic School Two'), local('MagicSchoolTwo'),
  url('fonts/MagicSchoolTwo.woff2') format('woff2'),
  url('fonts/MagicSchoolTwo.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
}

/* Estilizações gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  /* height: 89%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-image: url('images/bg-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: small;
  color: white;
}

body {
  height: 100vh;
  margin: 0%;
  display: flex;
  flex-direction: column;
}

textarea {
  resize:none;
}

footer {
  margin-top: auto;
  padding-bottom: 15px;
  width: 100%;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  font-size: xx-small;
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  background-color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 60px;
}

#trybewarts-header-title {
  margin-left: 2rem;
  color: white;
  font-family: Magic School Two, serif;
  font-weight: 400;
  font-size: 3rem;
}

.trybewarts-login {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.trybewarts-login input {
  padding: 10px;
  margin-right: 10px;
}

.flex-ctnr {
  display: flex;
  flex-flow: wrap;
}

.checkers {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-flow: column wrap;
}

#evaluation-form {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-flow: column wrap;
}

#evaluation-form input , select , textarea {
  padding: 10px;
  /* margin-top: 10px; */
  margin-right: 10px;
}

#evaluation-form textarea {
  width: 95%;
}

#evaluation-form label {
  margin-top: 10px;
  margin-right: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
  flex-basis: 40%;
}

#input-name , #input-lastname {
  flex-basis: 45%;
}

#input-email {
  flex-basis: 60%;
}

#house {
  width: 30%;
}

#submit-btn {
  display: flex;
  justify-content: center;
  width: 95%;
  padding-bottom: 20px;
}

#family-ctnr {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-basis: 40%;
}

#content-ctnr {
  flex-flow: wrap;
  flex-basis: 50%;
  padding: 0 15px;
}
#label-infos {
  margin-bottom: 30px;
}

#rate-ctnr {
  flex-flow: wrap;
  justify-content: flex-start;
}

#counter {
  color:white;
  position: relative;
  bottom: 26px;
  left: 89%;
  z-index: 1;
}

#modal-title {
  color: yellow;
}

#tools {
  align-self: center;
  margin-left: 15%;
  padding: 10px;
}

/* iniciando estilização pos avaliador */
